@import "vendor/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.words {
    .word-list-item {
        display: block;
        border-bottom: 1px solid #BBB;
        margin-top: 1em;
        padding-bottom: 0.5em;

        .word {
            display: block;
            float: left;
        }

        .word-actions {
            float: right;
        }

        .clear {
            clear: both;
        }
    }
}

.word {
    .syllable {
        display: block;
        float: left;



        .syllable-content {
            float: left;
            .syllable-vowel {
                text-align: center;
                line-height: 0.5em;
            }

            .syllable-syllable {
            }
        }

        .syllable-splitter {
            float: left;
            height: 100%;
            margin-left: 0.3em;
            margin-right: 0.3em;
        }

    }

}
