@import "vendor/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.words {
    .word-list-item {
        display: block;
        border-bottom: 1px solid #BBB;
        margin-top: 1em;
        padding-bottom: 0.5em;

        .word {
            display: block;
            float: left;
        }

        .word-actions {
            float: right;
        }

        .clear {
            clear: both;
        }
    }
}

.word {
    .syllable {
        display: block;
        float: left;



        .syllable-content {
            float: left;
            .syllable-vowel {
                text-align: center;
                line-height: 0.5em;
            }

            .syllable-syllable {
            }
        }

        .syllable-splitter {
            float: left;
            height: 100%;
            margin-left: 0.3em;
            margin-right: 0.3em;
        }

    }
}

.syllable-entry {
    display: block;
    float: left;

    .syllable-container {
        display: block;
        float: left;

        .syllable-display {
            display: block;
            text-align: center;
        }

        .vowel-selection {
            & > .btn {
                display: block;
                margin: auto;
            }
            .vowel-container {
                background: white;
                padding: $padding-base-vertical;
                border-color: #ddd;
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                position: absolute;
                @border-top-radius($border-radius-base);
                @border-bottom-radius($border-radius-base);

                .vowel-with-examples {
                    display: block;
                    margin-top: $padding-base-vertical;
                }
            }
        }
    }

    .syllable-merger-button {
        display: block;
        float: left;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }
}
