<h1>Add a word</h1>
<form ng-submit="wordSubmit()" novalidate remote-validate>
    
    <span class="validation-error" ng:show="Article.$serverError.user.$invalid">
        {{Article.$serverError.user.message}}
    </span>
    
    <div class="form-group">
        <label for="user">Word</label>
        <input type="text" class="form-control" name="word" ng-model="entryData.word" ng-change="updateSyllables()">
    </div>
    <errors-for field="word"></errors-for>
    
    <div class="form-group big">
        <div ng-repeat="(i,syllable) in entryData.syllables" class="syllable-entry">
            <div class="syllable-container">
                <span class="syllable-display">{{syllable.syllable}}</span>
                <vowel-selection syllable="syllable" vowels="entryData.vowels"></vowel-selection>
            </div>
            <input type="button" ng-if="!$last" class="btn btn-default syllable-merger-button" ng-click="mergeSyllables(syllable)" value="+" />
        </div>
    </div>

    
    <input type="submit" class="btn btn-primary btn-default" value="Add" />
</form>
