<h1>Words</h1>
<form novalidate>
    <div class="words">
        <div ng-repeat="word in words" class="word-list-item">
            <div class="word">
                <div class="syllable" ng-repeat="syllable in word.syllables">
                    <div class="syllable-content">
                        <div class="syllable-syllable">{{syllable.syllable}}</div>
                        <div class="syllable-vowel">{{syllable.vowel.vowel}}</div>
                    </div>
                    <div class="syllable-splitter" ng-show="!$last">|</div>
                </div>
            </div>

            <div class="word-actions">
                <a href="#/languages/{{word.language_id}}/words/{{word.id}}">Show</a>
            </div>

            <div class="clear"></div>
        </div>
    </div>

</form>
