<div class="vowel-selection">
    <input type="button" value="{{selectedVowel.vowel}}" ng-click="selectVowel(syllable)" class="btn btn-default"/>
    <div class="vowel-container">
        <div class="vowel-with-examples" ng-repeat="vowel in vowels" ng-show="select">
            <input type="button" nclass="vowel" ng-click="vowelSelected(vowel)" value="{{vowel.vowel}}" class="btn btn-default" />
            <span class="vowel-examples">
                <vowel-example class="vowel-example" ng-repeat="example in vowel.examples" example="example"></vowel-example>
            </span>
        </div>
    </div>
</div>

