<h1>About</h1>

<div class="row">
    <div class="col-md-6 col-lg-4">
        <h3>Why an other rhyme site?</h3>
        <p>
            There are a wide spectrum of websites on which you can search for rhymes,
            but most websites either check letter by letter to see if something rhymes
            or let the users decide by voting which words rhyme.
        </p>

        </p>
            This is fine to find some of the good rhymes that exist, but it's often
            difficult to find more complex ones. Because rhyming is really just based on how words are pronounced rather than
            the actual letters. Aditionally it's also quite difficult to find bigger rhymes
            with a lot of syllables.
        </p>
    </div>

    <div class="col-md-6 col-lg-4">
        <h3>An other approach</h3>
        <p>
            Instead of rhyming by letters we do it by rhyming the actual pronounciation.
            But to do this we need addtitional information on words. Namely the phonetic symbols for each vocal.
        </p>

        <p>
            Unfortunately it's quite a lot of work to insert all words and the phonetic symbols for their vocals.
            This approach may also set a limit on the languages this approach may be used, but it should work
            for most western languages (we may need to add more phonetic symbols).
        </p>
    </div>

    <div class="col-md-6 col-lg-4">
        <h3>On the creator</h3>
        <p>
            Another goal of mine when starting this project was to be able to rhyme words in swiss german. This
            is because I'm not that trained in rhyming at all and I could use a rhyme finder for swiss german.
            I can code better than I rhyme so lets just program something which helps me rhyme. I mean
            even if it doesn't work exactly how it worked I'll still learn something about rhyming in the process.
        <p>

        <p>
            The problem with swiss german is that there is no "real" dictionary and people from different regions
            write and pronounce words differently. While this is problematic because of the duplication I'll just
            focus on my own dialect and not deal with the differences at all. Or just insert the same words twice
            with different pronouncations.
        </p>

    </div>
</div>
