<div id="searchForm">
    <form ng-submit="search()" novalidate remote-validate>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-10 col-md-10 col-lg-11">
                <input type="text" name="search" ng-model="input.search"  placeholder="Search for a rhyme ..." class="form-control" />
            </div>
            <div class="form-group col-xs-12 col-sm-2 col-md-2 col-lg-1">
                <input type="submit" value="Search" class="btn btn-default btn-primary btn-block" />
            </div>
        </div>
        <div class="row">
            <errors-for field="search" />
        </div>
    </form>
</div>
<div class="row search-error-container alert alert-danger" ng-show="display.error">
    {{display.errorMessage}}
</div>
<div class="row search-info-container alert alert-success" ng-show="display.success && display.numResults > 0">
    <span ng-show="display.numResults > 1">{{display.numResults}} rhymes found!</span>
    <span ng-show="display.numResults == 1">Only {{display.numResults}} rhyme found!</span>
</div>
<div class="row search-info-container alert alert-warn" ng-show="display.success && display.numResults == 0">
    No rhyme found.
</div>
<div id="search-result-container" ng-show="display.results.length > 0">
    <div class="search-result-header row">
        <div class="col-xs-8 col-md-10">Rhyme</div>
        <div class="col-xs-2 col-md-1">Syllables</div>
        <div class="col-xs-2 col-md-1">Quality</div>
    </div>
    <div class="search-result row" ng-repeat="rhyme in display.results">
        <word word="rhyme.word" class="col-xs-8 col-md-10"></word>
        <div class="rhymeQuality col-xs-2 col-md-1">
            {{rhyme.rhyming_syllable_count}}
        </div>
        <div class="rhymeQuality col-xs-2 col-md-1">
            {{rhyme.rhyming_quality * 100 | number : 1}}%
        </div>
    </div>
</div>
